In [2]:
import pandas as pd
import numpy as np
import requests

In [ ]:
key = ""

url = "https://api.data.gov/ed/collegescorecard/v1/schools"

In [8]:
fields = (
    "id,school.name,school.city,school.state,"
    "latest.student.size,"
    "latest.cost.tuition.in_state,latest.cost.tuition.out_of_state,"
    "latest.student.demographics.female_share,"
    "latest.student.demographics.race_ethnicity.white,"
    "latest.student.demographics.race_ethnicity.black,"
    "latest.student.demographics.race_ethnicity.hispanic,"
    "latest.student.demographics.race_ethnicity.asian,"
    "latest.student.demographics.race_ethnicity.aian,"
    "latest.student.demographics.race_ethnicity.nhpi,"
    "latest.student.demographics.race_ethnicity.two_or_more,"
    "latest.staff.faculty.full_time,latest.staff.faculty.part_time,"
    "latest.completion.rate_suppressed.overall"
)

In [9]:
params = {
    "api_key": key,
    "fields": fields,
    "per_page": 100,  # number of results per page (max 100)
    "page": 0,       # which page to request
}

In [10]:
all_results = []

for page in range(0, 10): 
    params["page"] = page
    response = requests.get(url, params=params)
    if response.status_code != 200:
        print("Error:", response.status_code, response.text)
        break

    data = response.json()
    results = data.get("results", [])
    if not results:
        break
    all_results.extend(results)

print(f"Retrieved {len(all_results)} records")

df = pd.DataFrame(all_results)

df.rename(columns={
    "school.name": "School_Name",
    "school.city": "City",
    "school.state": "State",
    "latest.cost.tuition.in_state": "Tuition_In_State",
    "latest.cost.tuition.out_of_state": "Tuition_Out_State",
    "latest.student.size": "Student_Size",
    "latest.student.demographics.female_share": "Female_Share",
    "latest.completion.rate_suppressed.overall": "Grad_Rate",
    "latest.staff.faculty.full_time": "Faculty_Full_Time",
    "latest.staff.faculty.part_time": "Faculty_Part_Time",
    "latest.student.demographics.race_ethnicity.white": "Race_White",
    "latest.student.demographics.race_ethnicity.black": "Race_Black",
    "latest.student.demographics.race_ethnicity.hispanic": "Race_Hispanic",
    "latest.student.demographics.race_ethnicity.asian": "Race_Asian",
    "latest.student.demographics.race_ethnicity.aian": "Race_AIAN",
    "latest.student.demographics.race_ethnicity.nhpi": "Race_NHPI",
    "latest.student.demographics.race_ethnicity.two_or_more": "Race_Two_Or_More",
}, inplace=True)

print(df.head())
print(df.info())

df.to_csv("data/college_scorecard_subset.csv", index=False)

Retrieved 1000 records
   Student_Size  Tuition_In_State  Tuition_Out_State  Female_Share  \
0        5726.0           10024.0            18634.0      0.564030
1       12118.0            8832.0            21864.0      0.639091
2         226.0               NaN                NaN      0.648649
3        6650.0           11770.0            24662.0      0.476350
4        3322.0           11248.0            19576.0      0.613419

   Race_White  Race_Black  Race_Hispanic  Race_Asian  Race_AIAN  Race_NHPI  \
0      0.0180      0.9043         0.0150      0.0017     0.0012     0.0010
1      0.4832      0.2657         0.0776      0.0915     0.0020     0.0007
2      0.2788      0.6681         0.0310      0.0000     0.0044     0.0044
3      0.6940      0.0907         0.0719      0.0423     0.0074     0.0015
4      0.0223      0.9082         0.0111      0.0018     0.0015     0.0012

   Race_Two_Or_More  Grad_Rate                          School_Name  \
0            0.0182     0.2772             Alabama A & M University
1            0.0515     0.6345  University of Alabama at Birmingham
2            0.0000        NaN                   Amridge University
3            0.0508     0.6240  University of Alabama in Huntsville
4            0.0126     0.2884             Alabama State University

         City State      id
0      Normal    AL  100654
1  Birmingham    AL  100663
2  Montgomery    AL  100690
3  Huntsville    AL  100706
4  Montgomery    AL  100724
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Student_Size       937 non-null    float64
 1   Tuition_In_State   726 non-null    float64
 2   Tuition_Out_State  726 non-null    float64
 3   Female_Share       863 non-null    float64
 4   Race_White         937 non-null    float64
 5   Race_Black         937 non-null    float64
 6   Race_Hispanic      937 non-null    float64
 7   Race_Asian         937 non-null    float64
 8   Race_AIAN          937 non-null    float64
 9   Race_NHPI          937 non-null    float64
 10  Race_Two_Or_More   937 non-null    float64
 11  Grad_Rate          878 non-null    float64
 12  School_Name        1000 non-null   object
 13  City               1000 non-null   object
 14  State              1000 non-null   object
 15  id                 1000 non-null   int64
dtypes: float64(12), int64(1), object(3)
memory usage: 125.1+ KB
None

Question of Interest:

Graduation rates comparision northern US schools vs Southern US schools.

Factors of interest:
1. Gender ratios of schools.
2. Tuition prices.
3. Diversity of school.
4. Average graduation rate.
5. School state
6. School name
7. school city
8. ID
9. Total students
10. Total Staff
11. Salary for professors
12. Dropout rate
13. Number of classes offered.

In [2]:
popdata = pd.read_csv("data/NST-EST2024-HU-CUMCHG.csv")

popdata.head()

,United States,"140,498,736","146,770,711","6,271,975",4.5,(X),(X).1,(X).2,(X).3,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,.Alabama,"2,288,337","2,381,817","93,480",4.1,24,24,19,20,NaN,NaN,NaN,NaN,NaN,NaN
1,.Alaska,"326,199","330,463","4,264",1.3,50,50,51,48,NaN,NaN,NaN,NaN,NaN,NaN
2,.Arizona,"3,081,997","3,299,651","217,654",7.1,14,14,6,9,NaN,NaN,NaN,NaN,NaN,NaN
3,.Arkansas,"1,365,266","1,421,037","55,771",4.1,31,31,31,21,NaN,NaN,NaN,NaN,NaN,NaN
4,.California,"14,392,141","14,877,904","485,763",3.4,1,1,3,28,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
popdata

,United States,"140,498,736","146,770,711","6,271,975",4.5,(X),(X).1,(X).2,(X).3,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,.Alabama,"2,288,337","2,381,817","93,480",4.1,24,24,19,20,NaN,NaN,NaN,NaN,NaN,NaN
1,.Alaska,"326,199","330,463","4,264",1.3,50,50,51,48,NaN,NaN,NaN,NaN,NaN,NaN
2,.Arizona,"3,081,997","3,299,651","217,654",7.1,14,14,6,9,NaN,NaN,NaN,NaN,NaN,NaN
3,.Arkansas,"1,365,266","1,421,037","55,771",4.1,31,31,31,21,NaN,NaN,NaN,NaN,NaN,NaN
4,.California,"14,392,141","14,877,904","485,763",3.4,1,1,3,28,NaN,NaN,NaN,NaN,NaN,NaN
5,.Colorado,"2,491,404","2,676,415","185,011",7.4,21,20,11,8,NaN,NaN,NaN,NaN,NaN,NaN
6,.Connecticut,"1,530,193","1,554,121","23,928",1.6,29,29,42,46,NaN,NaN,NaN,NaN,NaN,NaN
7,.Delaware,"448,735","476,405","27,670",6.2,45,45,39,13,NaN,NaN,NaN,NaN,NaN,NaN
8,.District of Columbia,"350,365","368,736","18,371",5.2,48,48,44,15,NaN,NaN,NaN,NaN,NaN,NaN
9,.Florida,"9,865,359","10,629,918","764,559",7.7,3,3,2,6,NaN,NaN,NaN,NaN,NaN,NaN
10,.Georgia,"4,410,948","4,668,859","257,911",5.8,10,10,5,14,NaN,NaN,NaN,NaN,NaN,NaN
11,.Hawaii,"561,064","572,781","11,717",2.1,42,42,46,42,NaN,NaN,NaN,NaN,NaN,NaN
12,.Idaho,"751,858","832,675","80,817",10.7,39,39,23,2,NaN,NaN,NaN,NaN,NaN,NaN
13,.Illinois,"5,426,431","5,482,770","56,339",1.0,6,6,30,50,NaN,NaN,NaN,NaN,NaN,NaN
14,.Indiana,"2,923,177","3,026,199","103,022",3.5,17,17,16,25,NaN,NaN,NaN,NaN,NaN,NaN
15,.Iowa,"1,412,790","1,458,797","46,007",3.3,30,30,33,30,NaN,NaN,NaN,NaN,NaN,NaN
16,.Kansas,"1,275,683","1,310,506","34,823",2.7,34,34,36,37,NaN,NaN,NaN,NaN,NaN,NaN
17,.Kentucky,"1,994,307","2,051,075","56,768",2.8,26,26,29,35,NaN,NaN,NaN,NaN,NaN,NaN
18,.Louisiana,"2,073,197","2,138,991","65,794",3.2,25,25,25,31,NaN,NaN,NaN,NaN,NaN,NaN
19,.Maine,"739,071","764,778","25,707",3.5,40,40,40,26,NaN,NaN,NaN,NaN,NaN,NaN
20,.Maryland,"2,530,847","2,588,397","57,550",2.3,20,22,27,39,NaN,NaN,NaN,NaN,NaN,NaN
21,.Massachusetts,"2,998,547","3,058,052","59,505",2.0,16,16,26,44,NaN,NaN,NaN,NaN,NaN,NaN
22,.Michigan,"4,570,168","4,670,131","99,963",2.2,9,9,17,41,NaN,NaN,NaN,NaN,NaN,NaN
23,.Minnesota,"2,485,560","2,597,286","111,726",4.5,22,21,15,18,NaN,NaN,NaN,NaN,NaN,NaN
24,.Mississippi,"1,319,943","1,359,303","39,360",3.0,32,33,34,33,NaN,NaN,NaN,NaN,NaN,NaN
25,.Missouri,"2,786,618","2,858,603","71,985",2.6,18,18,24,38,NaN,NaN,NaN,NaN,NaN,NaN
26,.Montana,"514,800","539,670","24,870",4.8,43,43,41,16,NaN,NaN,NaN,NaN,NaN,NaN
27,.Nebraska,"844,276","881,148","36,872",4.4,38,37,35,19,NaN,NaN,NaN,NaN,NaN,NaN
28,.Nevada,"1,281,017","1,365,961","84,944",6.6,33,32,21,11,NaN,NaN,NaN,NaN,NaN,NaN
29,.New Hampshire,"638,800","657,232","18,432",2.9,41,41,43,34,NaN,NaN,NaN,NaN,NaN,NaN
30,.New Jersey,"3,761,236","3,818,712","57,476",1.5,11,11,28,47,NaN,NaN,NaN,NaN,NaN,NaN
31,.New Mexico,"940,857","974,158","33,301",3.5,36,36,37,23,NaN,NaN,NaN,NaN,NaN,NaN
32,.New York,"8,488,064","8,677,605","189,541",2.2,4,4,9,40,NaN,NaN,NaN,NaN,NaN,NaN
33,.North Carolina,"4,708,715","5,073,639","364,924",7.7,8,8,4,5,NaN,NaN,NaN,NaN,NaN,NaN
34,.North Dakota,"370,642","383,085","12,443",3.4,47,47,45,29,NaN,NaN,NaN,NaN,NaN,NaN
35,.Ohio,"5,242,525","5,336,940","94,415",1.8,7,7,18,45,NaN,NaN,NaN,NaN,NaN,NaN
36,.Oklahoma,"1,746,812","1,800,410","53,598",3.1,28,28,32,32,NaN,NaN,NaN,NaN,NaN,NaN
37,.Oregon,"1,813,746","1,896,933","83,187",4.6,27,27,22,17,NaN,NaN,NaN,NaN,NaN,NaN
38,.Pennsylvania,"5,742,838","5,861,503","118,665",2.1,5,5,14,43,NaN,NaN,NaN,NaN,NaN,NaN
39,.Rhode Island,"483,468","488,030","4,562",0.9,44,44,50,51,NaN,NaN,NaN,NaN,NaN,NaN
40,.South Carolina,"2,344,968","2,531,444","186,476",8.0,23,23,10,4,NaN,NaN,NaN,NaN,NaN,NaN
41,.South Dakota,"393,371","423,789","30,418",7.7,46,46,38,7,NaN,NaN,NaN,NaN,NaN,NaN
42,.Tennessee,"3,031,609","3,243,988","212,379",7.0,15,15,7,10,NaN,NaN,NaN,NaN,NaN,NaN
43,.Texas,"11,589,313","12,617,283","1,027,970",8.9,2,2,1,3,NaN,NaN,NaN,NaN,NaN,NaN
44,.Utah,"1,151,414","1,283,337","131,923",11.5,35,35,12,1,NaN,NaN,NaN,NaN,NaN,NaN
45,.Vermont,"334,318","343,640","9,322",2.8,49,49,49,36,NaN,NaN,NaN,NaN,NaN,NaN
46,.Virginia,"3,618,240","3,746,256","128,016",3.5,12,12,13,24,NaN,NaN,NaN,NaN,NaN,NaN
47,.Washington,"3,202,240","3,400,917","198,677",6.2,13,13,8,12,NaN,NaN,NaN,NaN,NaN,NaN
48,.West Virginia,"855,648","866,444","10,796",1.3,37,38,47,49,NaN,NaN,NaN,NaN,NaN,NaN
49,.Wisconsin,"2,727,726","2,821,094","93,368",3.4,19,19,20,27,NaN,NaN,NaN,NaN,NaN,NaN
50,.Wyoming,"271,888","281,823","9,935",3.7,51,51,48,22,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
popdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   United States  51 non-null     object
 1   140,498,736    51 non-null     object
 2   146,770,711    51 non-null     object
 3   6,271,975      51 non-null     object
 4   4.5            51 non-null     float64
 5   (X)            51 non-null     int64
 6   (X).1          51 non-null     int64
 7   (X).2          51 non-null     int64
 8   (X).3          51 non-null     int64
 9   Unnamed: 9     0 non-null      float64
 10  Unnamed: 10    0 non-null      float64
 11  Unnamed: 11    0 non-null      float64
 12  Unnamed: 12    0 non-null      float64
 13  Unnamed: 13    0 non-null      float64
 14  Unnamed: 14    0 non-null      float64
dtypes: float64(7), int64(4), object(4)
memory usage: 6.1+ KB

In [5]:
popdata['United States'] = popdata['United States'].str.replace('.', '', regex=False).str.strip()

In [6]:

popdata.head()

,United States,"140,498,736","146,770,711","6,271,975",4.5,(X),(X).1,(X).2,(X).3,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Alabama,"2,288,337","2,381,817","93,480",4.1,24,24,19,20,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,"326,199","330,463","4,264",1.3,50,50,51,48,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona,"3,081,997","3,299,651","217,654",7.1,14,14,6,9,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas,"1,365,266","1,421,037","55,771",4.1,31,31,31,21,NaN,NaN,NaN,NaN,NaN,NaN
4,California,"14,392,141","14,877,904","485,763",3.4,1,1,3,28,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
popdata = popdata.rename(columns={'United States': 'States', '140,498,736': 'April_Estimate_2020', '146,770,711': 'July_Estimate_2024'})

In [8]:
popdata = popdata.drop(['6,271,975', '4.5', '(X)','(X).1','(X).2','(X).3','Unnamed: 9', 'Unnamed: 10','Unnamed: 11',
'Unnamed: 12','Unnamed: 13','Unnamed: 14'], axis=1)

In [9]:
popdata.reset_index(drop=True)

                  States April_Estimate_2020 July_Estimate_2024
0                Alabama           2,288,337          2,381,817
1                 Alaska             326,199            330,463
2                Arizona           3,081,997          3,299,651
3               Arkansas           1,365,266          1,421,037
4             California          14,392,141         14,877,904
5               Colorado           2,491,404          2,676,415
6            Connecticut           1,530,193          1,554,121
7               Delaware             448,735            476,405
8   District of Columbia             350,365            368,736
9                Florida           9,865,359         10,629,918
10               Georgia           4,410,948          4,668,859
11                Hawaii             561,064            572,781
12                 Idaho             751,858            832,675
13              Illinois           5,426,431          5,482,770
14               Indiana           2,923,177          3,026,199
15                  Iowa           1,412,790          1,458,797
16                Kansas           1,275,683          1,310,506
17              Kentucky           1,994,307          2,051,075
18             Louisiana           2,073,197          2,138,991
19                 Maine             739,071            764,778
20              Maryland           2,530,847          2,588,397
21         Massachusetts           2,998,547          3,058,052
22              Michigan           4,570,168          4,670,131
23             Minnesota           2,485,560          2,597,286
24           Mississippi           1,319,943          1,359,303
25              Missouri           2,786,618          2,858,603
26               Montana             514,800            539,670
27              Nebraska             844,276            881,148
28                Nevada           1,281,017          1,365,961
29         New Hampshire             638,800            657,232
30            New Jersey           3,761,236          3,818,712
31            New Mexico             940,857            974,158
32              New York           8,488,064          8,677,605
33        North Carolina           4,708,715          5,073,639
34          North Dakota             370,642            383,085
35                  Ohio           5,242,525          5,336,940
36              Oklahoma           1,746,812          1,800,410
37                Oregon           1,813,746          1,896,933
38          Pennsylvania           5,742,838          5,861,503
39          Rhode Island             483,468            488,030
40        South Carolina           2,344,968          2,531,444
41          South Dakota             393,371            423,789
42             Tennessee           3,031,609          3,243,988
43                 Texas          11,589,313         12,617,283
44                  Utah           1,151,414          1,283,337
45               Vermont             334,318            343,640
46              Virginia           3,618,240          3,746,256
47            Washington           3,202,240          3,400,917
48         West Virginia             855,648            866,444
49             Wisconsin           2,727,726          2,821,094
50               Wyoming             271,888            281,823

In [10]:
#remove the commas from the esitmates cols and change type to float 
popdata[['April_Estimate_2020', 'July_Estimate_2024']] = (
    popdata[['April_Estimate_2020', 'July_Estimate_2024']]
    .apply(lambda x: x.str.replace(',', '', regex=False).astype(float))
)

In [11]:
popdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   States               51 non-null     object
 1   April_Estimate_2020  51 non-null     float64
 2   July_Estimate_2024   51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [12]:
#add abbv for states

state_abbrev = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR',
    'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE',
    'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
    'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
    'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
    'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV',
    'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY',
    'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT',
    'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV',
    'Wisconsin': 'WI', 'Wyoming': 'WY'
}

popdata['State_Abbrev'] = popdata['States'].map(state_abbrev)

In [15]:
#reorder cols
col_order = ['States', 'State_Abbrev', 'April_Estimate_2020', 'July_Estimate_2024']
popdata = popdata[col_order]

In [16]:
popdata.to_csv('data/cleaned_popdata.csv', index=False)

In [3]:
popdata_clean = pd.read_csv('data/cleaned_popdata.csv')
college_clean = pd.read_csv('data/college_scorecard_subset.csv')

In [4]:
college_clean.head()

,Student_Size,Tuition_In_State,Tuition_Out_State,Female_Share,Race_White,Race_Black,Race_Hispanic,Race_Asian,Race_AIAN,Race_NHPI,Race_Two_Or_More,Grad_Rate,School_Name,City,State,id
0,5726.0,10024.0,18634.0,0.564030,0.0180,0.9043,0.0150,0.0017,0.0012,0.0010,0.0182,0.2772,Alabama A & M University,Normal,AL,100654
1,12118.0,8832.0,21864.0,0.639091,0.4832,0.2657,0.0776,0.0915,0.0020,0.0007,0.0515,0.6345,University of Alabama at Birmingham,Birmingham,AL,100663
2,226.0,NaN,NaN,0.648649,0.2788,0.6681,0.0310,0.0000,0.0044,0.0044,0.0000,NaN,Amridge University,Montgomery,AL,100690
3,6650.0,11770.0,24662.0,0.476350,0.6940,0.0907,0.0719,0.0423,0.0074,0.0015,0.0508,0.6240,University of Alabama in Huntsville,Huntsville,AL,100706
4,3322.0,11248.0,19576.0,0.613419,0.0223,0.9082,0.0111,0.0018,0.0015,0.0012,0.0126,0.2884,Alabama State University,Montgomery,AL,100724

In [5]:
popdata_clean.head()

       States State_Abbrev  April_Estimate_2020  July_Estimate_2024
0     Alabama           AL            2288337.0           2381817.0
1      Alaska           AK             326199.0            330463.0
2     Arizona           AZ            3081997.0           3299651.0
3    Arkansas           AR            1365266.0           1421037.0
4  California           CA           14392141.0          14877904.0

In [6]:
combined = college_clean.merge(
    popdata_clean[['State_Abbrev', 'July_Estimate_2024']],
    left_on='State', 
    right_on='State_Abbrev',
    how='left'
)
combined.drop(columns='State_Abbrev', inplace=True)

In [7]:
combined.head()

,Student_Size,Tuition_In_State,Tuition_Out_State,Female_Share,Race_White,Race_Black,Race_Hispanic,Race_Asian,Race_AIAN,Race_NHPI,Race_Two_Or_More,Grad_Rate,School_Name,City,State,id,July_Estimate_2024
0,5726.0,10024.0,18634.0,0.564030,0.0180,0.9043,0.0150,0.0017,0.0012,0.0010,0.0182,0.2772,Alabama A & M University,Normal,AL,100654,2381817.0
1,12118.0,8832.0,21864.0,0.639091,0.4832,0.2657,0.0776,0.0915,0.0020,0.0007,0.0515,0.6345,University of Alabama at Birmingham,Birmingham,AL,100663,2381817.0
2,226.0,NaN,NaN,0.648649,0.2788,0.6681,0.0310,0.0000,0.0044,0.0044,0.0000,NaN,Amridge University,Montgomery,AL,100690,2381817.0
3,6650.0,11770.0,24662.0,0.476350,0.6940,0.0907,0.0719,0.0423,0.0074,0.0015,0.0508,0.6240,University of Alabama in Huntsville,Huntsville,AL,100706,2381817.0
4,3322.0,11248.0,19576.0,0.613419,0.0223,0.9082,0.0111,0.0018,0.0015,0.0012,0.0126,0.2884,Alabama State University,Montgomery,AL,100724,2381817.0

In [9]:
#define south vs north 

state_region = {
    # Southern States
    'AL': 'South', 'AR': 'South', 'FL': 'South', 'GA': 'South', 'KY': 'South',
    'LA': 'South', 'MS': 'South', 'NC': 'South', 'OK': 'South', 'SC': 'South',
    'TN': 'South', 'TX': 'South', 'VA': 'South', 'WV': 'South',
    'DE': 'South', 'MD': 'South', 'DC': 'South',

    # Northern States
    'CT': 'North', 'ME': 'North', 'MA': 'North', 'NH': 'North', 'RI': 'North', 'VT': 'North',
    'NJ': 'North', 'NY': 'North', 'PA': 'North', 'OH': 'North', 'MI': 'North', 'IN': 'North',
    'IL': 'North', 'IA': 'North', 'MN': 'North', 'WI': 'North', 'ND': 'North', 'SD': 'North',
    'NE': 'North', 'KS': 'North', 'MO': 'North', 'MT': 'North', 'WY': 'North', 'CO': 'North',
    'ID': 'North', 'WA': 'North', 'OR': 'North'
}

combined['Region'] = combined['State'].map(state_region)

In [10]:
combined.to_csv('data/college_state_pop.csv', index=False)